<div class="list-group">
  <div
    class="list-group-item list-group-item-action list-cars"
    [ngClass]="{
      'list-group-item-danger': car.isSold
    }">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">
        {{car.name}}
      </h5>
      <small>{{car.date}}</small>
    </div>
    <p class="mb-1">
      {{car.model}}
    </p>
    <small>{{car.year}}</small>
    <hr>
    <button
      type="button"
      class="btn btn-outline-success btn-sm"
      [disabled]="car.isSold"
      (click)="onBuy()"
    >
      Buy Car
    </button>
    <button
      type="button"
      class="btn btn-outline-danger btn-sm"
      (click)="onDelete()"
    >
      Delete Car
    </button>
  </div>
</div>
